<div ng-controller="main">
	<input type="text" ng-model="downloadName">
	<button ng-click="showDownload = true">Submit</button>
	<br><br>
	<a ng-show="showDownload" ng-href="uploads/{{downloadName}}"><h3>Download Link</h3></a>
</div>