
<div ng-controller="main" class="col-xs-12" ng-cloak>

</div>
<br> <br>
<div class="col-sm-3 col-xs-6 portfolio-columns">
	<!-- <div class="panel panel-default"> -->
	  <div class="panel-thumbnail">
	    <a href="https://www.behance.net/gallery/28727973/Postcard-Ads" target="_blank"><img class="portfolio-thumbnail grow" src="images/postcards.jpg"></a>
	  </div>
	<!-- </div> -->
	<!-- <div class="panel panel-default"> -->
	  <div class="panel-thumbnail">
	    <a href="https://www.behance.net/gallery/35265433/Solar-Energy-Infographic" target="_blank"><img class="portfolio-thumbnail grow" src="images/infographic.jpg"></a>
	  </div>
	<!-- </div> -->
</div>
<div class="col-sm-3 col-xs-6 portfolio-columns">
	<!-- <div class="panel panel-default"> -->
	  <div class="panel-thumbnail">
	    <a href="https://www.behance.net/gallery/35265433/Solar-Energy-Infographic" target="_blank"><img class="portfolio-thumbnail grow" src="images/infographic.jpg"></a>
	  </div>
	<!-- </div> -->
	<!-- <div class="panel panel-default"> -->
	  <div class="panel-thumbnail">
	    <a href="https://www.behance.net/gallery/29024589/Bell-Prayer-Ministry-Cards" target="_blank"><img class="portfolio-thumbnail grow" src="images/bell.jpg"></a>
	  </div>
	<!-- </div> -->
</div>
<div class="col-sm-3 col-xs-6 portfolio-columns">
	<!-- <div class="panel panel-default"> -->
	  <div class="panel-thumbnail">
	    <a href="https://www.behance.net/gallery/28727291/Camp-Tee-Shirts" target="_blank"><img class="portfolio-thumbnail grow" src="images/red-shirt.jpg"></a>
	  </div>
	<!-- </div> -->
	<!-- <div class="panel panel-default"> -->
	  <div class="panel-thumbnail">
	    <a href="https://www.behance.net/gallery/28727973/Postcard-Ads" target="_blank"><img class="portfolio-thumbnail grow" src="images/postcards.jpg"></a>
	  </div>
	<!-- </div> -->
</div>
<div class="col-sm-3 col-xs-6 portfolio-columns">
	<!-- <div class="panel panel-default"> -->
	  <div class="panel-thumbnail">
	    <a href="https://www.behance.net/gallery/28760301/Pinnacle-Logos" target="_blank"><img class="portfolio-thumbnail grow" src="images/pinnacle-logo.jpg"></a>
	  </div>
	<!-- </div> -->
	<!-- <div class="panel panel-default"> -->
	  <div class="panel-thumbnail">
	    <a href="https://www.behance.net/gallery/28696537/Summer-Save-the-Date-Cards" target="_blank"><img class="portfolio-thumbnail grow" src="images/postcard-1.jpg"></a>
	  </div>
	<!-- </div> -->
</div>
